<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body style="display: flex; align-items: normal; background: linear-gradient(to bottom, #eee, #9a97c4, #24243e);">
    <div id="navbar" style="align-items: right;">
        <a href="/logout">logout</a>
    </div>
    <div id="main">
        <h1>Records Page</h1>
        <p>Logged in as {{email}}<br></p>
        <div id="session" hidden="true">{{ sessionID }}</div>
        <div class="home">
            <li>
                <a href="/records.html">Get Records</a>
            </li>

        </div>

    </div>
    <script>
    </script>
</body>
</html>
